body{
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(120deg,#2f97dc,#a543ce);
  overflow: hidden;
  
}

.menu {
    background-color: #EFEEF5; /* Background color for the menu */
    padding: 40px; /* Add padding to the menu */
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 480px;
    margin-right: 430px;
    position: relative;
    bottom: 10px;
    border-radius: 5rem;
    box-shadow: 10px 10px 10px black;
    
  }
  
  .menu nav ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .menu nav ul li {
    display: inline; /* Display list items inline */
    margin-right: 300px; /* Add some space between menu items */
  }
  
  .menu nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Text color for links */
    font-weight: bold; /* Make text bold */
    border: 2px solid black;
    border-radius: 5rem;
    text-align: justify;
    font-size: 1.8rem;
    padding: 10px;
    background-color: aqua;
    box-shadow: 5px 5px 5px black;
  }
  
  .menu nav ul li a:hover {
    color: #ffcc00; /* Text color on hover */
  }
  