.signup-card {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.signup-card input[type="text"],
.signup-card input[type="email"],
.signup-card input[type="password"],
.signup-card button {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid;
}

.signup-card button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.signup-card button:hover {
    background-color: #0056b3;
}

#username{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 279px;
    background-color: whitesmoke;
    
}

#email{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 279px;
    background-color: whitesmoke;
}

#password{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 279px;
    background-color: whitesmoke;
}


